# 서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2022.2.28)

In [17]:
import pandas as pd

In [20]:
hjDF=pd.read_csv('./서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2022.2.28).CSV', encoding='cp949')

In [21]:
hjDF

,기준년월,사용본거지시읍면동_행정동기준,차명,연료,최초등록일,현소유자의출생년도,제원관리번호
0,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200910,1977.0,01020007000041319
1,202202,서울특별시 강남구 개포1동,그랜저 하이브리드,하이브리드(휘발유+전기),20170710,1959.0,A0810010800451317
2,202202,서울특별시 강남구 개포1동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20210309,1942.0,01020006500091320
3,202202,서울특별시 강남구 개포1동,렉서스 ES300h,하이브리드(휘발유+전기),20210528,1966.0,01020006800021320
4,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200630,1970.0,01020007000041319
...,...,...,...,...,...,...,...
189581,202202,서울특별시 중랑구 중화2동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20180824,1982.0,01020006500001317
189582,202202,서울특별시 중랑구 중화2동,그랜저(GRANDEUR) 하이브리드,하이브리드(휘발유+전기),20150212,1979.0,A0810008700781314
189583,202202,서울특별시 중랑구 중화2동,니로 하이브리드,하이브리드(휘발유+전기),20180109,1979.0,A0110006100091217
189584,202202,서울특별시 중랑구 중화2동,포터Ⅱ 일렉트릭 (PORTERⅡ EL,전기,20210315,1967.0,A0810006219283120
189585,202202,NaN,K5 하이브리드,하이브리드(휘발유+전기),20120105,NaN,A0110004700101211

In [24]:
hjDF['최초등록일'].

dtype('int64')

In [25]:
hjDF['최초등록일_날짜'] = pd.to_datetime(hjDF['최초등록일'])

In [28]:
hjDF=hjDF.drop(['최초등록일_날짜'], axis=1)

In [30]:
hjDF['최초등록일'].astype('str')

0         20200910
1         20170710
2         20210309
3         20210528
4         20200630
            ...
189581    20180824
189582    20150212
189583    20180109
189584    20210315
189585    20120105
Name: 최초등록일, Length: 189586, dtype: object

In [31]:
hjDF['최초등록일_날짜'] = pd.to_datetime(hjDF['최초등록일'])

In [33]:
hjDF=hjDF.drop(['최초등록일_날짜'], axis=1)

In [45]:
hjDF['최초등록일']=hjDF['최초등록일'].astype('str')

In [46]:
hjDF['최초등록일'].dtype

dtype('O')

In [49]:
hjDF['최초등록일_년도']=hjDF['최초등록일'].str[:4]

In [52]:
vcDF=pd.DataFrame(hjDF['최초등록일_년도'].value_counts())

In [176]:
vcDF_2=vcDF.reset_index()

In [181]:
vcDF_2.columns=['year', 'counts']

In [183]:
vcDF_2.to_csv('년도별_valuecounts.csv', index=False)

In [57]:
hjDF.isna().sum()

기준년월                   0
사용본거지시읍면동_행정동기준       11
차명                     0
연료                     0
최초등록일                  0
현소유자의출생년도          44764
제원관리번호                 0
최초등록일_년도               0
dtype: int64

In [200]:
hjDF

,기준년월,사용본거지시읍면동_행정동기준,차명,연료,최초등록일,현소유자의출생년도,제원관리번호,최초등록일_년도
0,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200910,1977.0,01020007000041319,2020
1,202202,서울특별시 강남구 개포1동,그랜저 하이브리드,하이브리드(휘발유+전기),20170710,1959.0,A0810010800451317,2017
2,202202,서울특별시 강남구 개포1동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20210309,1942.0,01020006500091320,2021
3,202202,서울특별시 강남구 개포1동,렉서스 ES300h,하이브리드(휘발유+전기),20210528,1966.0,01020006800021320,2021
4,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200630,1970.0,01020007000041319,2020
...,...,...,...,...,...,...,...,...
189581,202202,서울특별시 중랑구 중화2동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20180824,1982.0,01020006500001317,2018
189582,202202,서울특별시 중랑구 중화2동,그랜저(GRANDEUR) 하이브리드,하이브리드(휘발유+전기),20150212,1979.0,A0810008700781314,2015
189583,202202,서울특별시 중랑구 중화2동,니로 하이브리드,하이브리드(휘발유+전기),20180109,1979.0,A0110006100091217,2018
189584,202202,서울특별시 중랑구 중화2동,포터Ⅱ 일렉트릭 (PORTERⅡ EL,전기,20210315,1967.0,A0810006219283120,2021
189585,202202,NaN,K5 하이브리드,하이브리드(휘발유+전기),20120105,NaN,A0110004700101211,2012

In [ ]:
hjDF.dropna(subset = ['사용본거지시읍면동_행정동기준'])

In [60]:
import numpy as np

In [64]:
hjDF['사용본거지시읍면동_행정동기준'].unique()

array(['서울특별시 강남구 개포1동', '서울특별시 강남구 개포2동', '서울특별시 강남구 개포4동',
       '서울특별시 강남구 논현1동', '서울특별시 강남구 논현2동', '서울특별시 강남구 대치1동',
       '서울특별시 동작구 상도1동', '서울특별시 동작구 상도2동', '서울특별시 동작구 상도3동',
       '서울특별시 동작구 상도4동', '서울특별시 동작구 신대방1동', '서울특별시 동작구 신대방2동',
       '서울특별시 동작구 흑석동', '서울특별시 마포구 공덕동', '서울특별시 강남구 대치2동',
       '서울특별시 마포구 대흥동', '서울특별시 마포구 도화동', '서울특별시 마포구 망원1동',
       '서울특별시 마포구 망원2동', '서울특별시 마포구 상암동', '서울특별시 마포구 서강동',
       '서울특별시 강남구 대치4동', '서울특별시 마포구 서교동', '서울특별시 마포구 성산1동',
       '서울특별시 마포구 성산2동', '서울특별시 마포구 신수동', '서울특별시 마포구 아현동',
       '서울특별시 강남구 도곡1동', '서울특별시 마포구 연남동', '서울특별시 마포구 염리동',
       '서울특별시 마포구 용강동', '서울특별시 강남구 도곡2동', '서울특별시 마포구 합정동',
       '서울특별시 서대문구 남가좌1동', '서울특별시 강남구 삼성1동', '서울특별시 서대문구 남가좌2동',
       '서울특별시 강남구 삼성2동', '서울특별시 서대문구 북가좌1동', '서울특별시 서대문구 북가좌2동',
       '서울특별시 강남구 세곡동', '서울특별시 서대문구 북아현동', '서울특별시 서대문구 신촌동',
       '서울특별시 서대문구 연희동', '서울특별시 서대문구 천연동', '서울특별시 강남구 수서동',
       '서울특별시 강남구 신사동', '서울특별시 서대문구 충현동', '서울특별시 서대문구 홍은1동',
       '서울특별시 강남구 압구정동', '서울특별시 서대문구 홍은2동', '서울특별시 서대문구 홍제1동',
       '서울특별시 강남구 역삼1동', '서울특별시 서대문구 홍제2동', '서울특별시 서대문구 홍제3동',
       '서울특별시 서초구 내곡동', '서울특별시 서초구 반포1동', '서울특별시 서초구 반포2동',
       '서울특별시 서초구 반포3동', '서울특별시 서초구 반포4동', '서울특별시 서초구 반포본동',
       '서울특별시 서초구 방배1동', '서울특별시 강남구 역삼2동', '서울특별시 서초구 방배2동',
       '서울특별시 서초구 방배3동', '서울특별시 강남구 일원1동', '서울특별시 서초구 방배4동',
       '서울특별시 강남구 일원2동', '서울특별시 강남구 일원본동', '서울특별시 서초구 방배본동',
       '서울특별시 서초구 서초1동', '서울특별시 강남구 청담동', '서울특별시 강동구 강일동',
       '서울특별시 강동구 고덕1동', '서울특별시 서초구 서초2동', '서울특별시 강동구 고덕2동',
       '서울특별시 서초구 서초3동', '서울특별시 서초구 서초4동', '서울특별시 서초구 양재1동',
       '서울특별시 서초구 양재2동', '서울특별시 서초구 잠원동', '서울특별시 성동구 금호1가동',
       '서울특별시 성동구 금호2.3가동', '서울특별시 성동구 금호4가동', '서울특별시 성동구 마장동',
       '서울특별시 성동구 사근동', '서울특별시 성동구 성수1가1동', '서울특별시 성동구 성수1가2동',
       '서울특별시 성동구 성수2가1동', '서울특별시 성동구 성수2가3동', '서울특별시 성동구 송정동',
       '서울특별시 성동구 옥수동', '서울특별시 성동구 왕십리2동', '서울특별시 성동구 왕십리도선동',
       '서울특별시 성동구 용답동', '서울특별시 성동구 응봉동', '서울특별시 성동구 행당1동',
       '서울특별시 성동구 행당2동', '서울특별시 성북구 길음1동', '서울특별시 강동구 길동',
       '서울특별시 성북구 길음2동', '서울특별시 성북구 돈암1동', '서울특별시 성북구 돈암2동',
       '서울특별시 강동구 둔촌2동', '서울특별시 강동구 명일1동', '서울특별시 성북구 동선동',
       '서울특별시 성북구 보문동', '서울특별시 성북구 삼선동', '서울특별시 강동구 명일2동',
       '서울특별시 성북구 석관동', '서울특별시 성북구 성북동', '서울특별시 강동구 상일동', '서울특별시 성북구 안암동',
       '서울특별시 성북구 월곡1동', '서울특별시 성북구 월곡2동', '서울특별시 강동구 상일제1동',
       '서울특별시 성북구 장위1동', '서울특별시 강동구 상일제2동', '서울특별시 강동구 성내1동',
       '서울특별시 성북구 장위2동', '서울특별시 성북구 장위3동', '서울특별시 성북구 정릉1동',
       '서울특별시 강동구 성내2동', '서울특별시 강동구 성내3동', '서울특별시 성북구 정릉2동',
       '서울특별시 강동구 암사1동', '서울특별시 성북구 정릉3동', '서울특별시 성북구 정릉4동',
       '서울특별시 강동구 암사2동', '서울특별시 성북구 종암동', '서울특별시 강동구 암사3동',
       '서울특별시 강동구 천호1동', '서울특별시 송파구 가락1동', '서울특별시 강동구 천호2동',
       '서울특별시 강동구 천호3동', '서울특별시 송파구 가락2동', '서울특별시 강북구 미아동',
       '서울특별시 강북구 번1동', '서울특별시 강북구 번2동', '서울특별시 강북구 번3동',
       '서울특별시 송파구 가락본동', '서울특별시 강북구 삼각산동', '서울특별시 송파구 거여1동',
       '서울특별시 강북구 삼양동', '서울특별시 송파구 거여2동', '서울특별시 강북구 송중동',
       '서울특별시 송파구 마천1동', '서울특별시 강북구 송천동', '서울특별시 송파구 마천2동',
       '서울특별시 강북구 수유1동', '서울특별시 강북구 수유2동', '서울특별시 송파구 문정1동',
       '서울특별시 강북구 수유3동', '서울특별시 강북구 우이동', '서울특별시 강북구 인수동',
       '서울특별시 송파구 문정2동', '서울특별시 강서구 가양1동', '서울특별시 송파구 방이1동',
       '서울특별시 송파구 방이2동', '서울특별시 송파구 삼전동', '서울특별시 송파구 석촌동',
       '서울특별시 송파구 송파1동', '서울특별시 송파구 송파2동', '서울특별시 송파구 오금동',
       '서울특별시 강서구 가양2동', '서울특별시 송파구 오륜동', '서울특별시 강서구 가양3동',
       '서울특별시 강서구 공항동', '서울특별시 송파구 위례동', '서울특별시 강서구 등촌1동',
       '서울특별시 강서구 등촌2동', '서울특별시 송파구 잠실2동', '서울특별시 강서구 등촌3동',
       '서울특별시 강서구 발산1동', '서울특별시 송파구 잠실3동', '서울특별시 강서구 방화1동',
       '서울특별시 송파구 잠실4동', '서울특별시 강서구 방화2동', '서울특별시 송파구 잠실6동',
       '서울특별시 강서구 방화3동', '서울특별시 송파구 잠실7동', '서울특별시 강서구 염창동',
       '서울특별시 송파구 잠실본동', '서울특별시 송파구 장지동', '서울특별시 강서구 우장산동',
       '서울특별시 송파구 풍납1동', '서울특별시 송파구 풍납2동', '서울특별시 강서구 화곡1동',
       '서울특별시 양천구 목1동', '서울특별시 강서구 화곡2동', '서울특별시 강서구 화곡3동',
       '서울특별시 양천구 목2동', '서울특별시 강서구 화곡4동', '서울특별시 강서구 화곡6동',
       '서울특별시 양천구 목3동', '서울특별시 강서구 화곡8동', '서울특별시 양천구 목4동',
       '서울특별시 강서구 화곡본동', '서울특별시 관악구 낙성대동', '서울특별시 양천구 목5동',
       '서울특별시 관악구 난곡동', '서울특별시 관악구 난향동', '서울특별시 관악구 남현동',
       '서울특별시 양천구 신월1동', '서울특별시 관악구 대학동', '서울특별시 양천구 신월2동',
       '서울특별시 관악구 미성동', '서울특별시 양천구 신월3동', '서울특별시 관악구 보라매동',
       '서울특별시 양천구 신월4동', '서울특별시 양천구 신월5동', '서울특별시 관악구 삼성동',
       '서울특별시 양천구 신월6동', '서울특별시 관악구 서림동', '서울특별시 양천구 신월7동',
       '서울특별시 관악구 서원동', '서울특별시 양천구 신정1동', '서울특별시 관악구 성현동',
       '서울특별시 관악구 신림동', '서울특별시 양천구 신정2동', '서울특별시 관악구 신사동',
       '서울특별시 양천구 신정3동', '서울특별시 관악구 신원동', '서울특별시 관악구 은천동',
       '서울특별시 관악구 인헌동', '서울특별시 양천구 신정4동', '서울특별시 관악구 조원동',
       '서울특별시 관악구 중앙동', '서울특별시 관악구 청룡동', '서울특별시 양천구 신정6동',
       '서울특별시 관악구 청림동', '서울특별시 양천구 신정7동', '서울특별시 관악구 행운동',
       '서울특별시 광진구 광장동', '서울특별시 영등포구 당산1동', '서울특별시 영등포구 당산2동',
       '서울특별시 광진구 구의1동', '서울특별시 광진구 구의2동', '서울특별시 영등포구 대림1동',
       '서울특별시 영등포구 대림2동', '서울특별시 광진구 구의3동', '서울특별시 영등포구 대림3동',
       '서울특별시 광진구 군자동', '서울특별시 영등포구 도림동', '서울특별시 광진구 능동',
       '서울특별시 영등포구 문래동', '서울특별시 광진구 자양1동', '서울특별시 광진구 자양2동',
       '서울특별시 광진구 자양3동', '서울특별시 영등포구 신길1동', '서울특별시 영등포구 신길3동',
       '서울특별시 광진구 자양4동', '서울특별시 영등포구 신길4동', '서울특별시 광진구 중곡1동',
       '서울특별시 영등포구 신길5동', '서울특별시 영등포구 신길6동', '서울특별시 광진구 중곡2동',
       '서울특별시 영등포구 신길7동', '서울특별시 광진구 중곡3동', '서울특별시 광진구 중곡4동',
       '서울특별시 광진구 화양동', '서울특별시 영등포구 양평1동', '서울특별시 구로구 가리봉동',
       '서울특별시 구로구 개봉1동', '서울특별시 영등포구 양평2동', '서울특별시 구로구 개봉2동',
       '서울특별시 영등포구 여의동', '서울특별시 구로구 개봉3동', '서울특별시 구로구 고척1동',
       '서울특별시 구로구 고척2동', '서울특별시 구로구 구로1동', '서울특별시 영등포구 영등포동',
       '서울특별시 구로구 구로2동', '서울특별시 구로구 구로3동', '서울특별시 영등포구 영등포본동',
       '서울특별시 용산구 남영동', '서울특별시 구로구 구로4동', '서울특별시 용산구 보광동',
       '서울특별시 용산구 서빙고동', '서울특별시 용산구 용문동', '서울특별시 용산구 용산2가동',
       '서울특별시 용산구 원효로1동', '서울특별시 용산구 원효로2동', '서울특별시 구로구 구로5동',
       '서울특별시 용산구 이촌1동', '서울특별시 구로구 수궁동', '서울특별시 구로구 신도림동',
       '서울특별시 용산구 이촌2동', '서울특별시 구로구 오류1동', '서울특별시 용산구 이태원1동',
       '서울특별시 용산구 이태원2동', '서울특별시 구로구 오류2동', '서울특별시 용산구 청파동',
       '서울특별시 용산구 한강로동', '서울특별시 구로구 항동', '서울특별시 금천구 가산동', '서울특별시 용산구 한남동',
       '서울특별시 용산구 효창동', '서울특별시 용산구 후암동', '서울특별시 은평구 갈현1동',
       '서울특별시 금천구 독산1동', '서울특별시 은평구 갈현2동', '서울특별시 은평구 구산동',
       '서울특별시 은평구 녹번동', '서울특별시 금천구 독산2동', '서울특별시 금천구 독산3동',
       '서울특별시 은평구 대조동', '서울특별시 금천구 독산4동', '서울특별시 금천구 시흥1동',
       '서울특별시 은평구 불광1동', '서울특별시 금천구 시흥2동', '서울특별시 은평구 불광2동',
       '서울특별시 금천구 시흥3동', '서울특별시 은평구 수색동', '서울특별시 금천구 시흥4동',
       '서울특별시 금천구 시흥5동', '서울특별시 은평구 신사1동', '서울특별시 노원구 공릉1동',
       '서울특별시 은평구 신사2동', '서울특별시 은평구 역촌동', '서울특별시 노원구 공릉2동',
       '서울특별시 은평구 응암1동', '서울특별시 노원구 상계10동', '서울특별시 은평구 응암2동',
       '서울특별시 노원구 상계1동', '서울특별시 은평구 응암3동', '서울특별시 노원구 상계2동',
       '서울특별시 은평구 증산동', '서울특별시 노원구 상계3.4동', '서울특별시 은평구 진관동',
       '서울특별시 노원구 상계5동', '서울특별시 노원구 상계6.7동', '서울특별시 노원구 상계8동',
       '서울특별시 종로구 가회동', '서울특별시 종로구 교남동', '서울특별시 노원구 상계9동',
       '서울특별시 종로구 무악동', '서울특별시 노원구 월계1동', '서울특별시 종로구 부암동',
       '서울특별시 노원구 월계2동', '서울특별시 종로구 사직동', '서울특별시 노원구 월계3동',
       '서울특별시 종로구 삼청동', '서울특별시 종로구 숭인1동', '서울특별시 종로구 숭인2동',
       '서울특별시 종로구 이화동', '서울특별시 노원구 중계1동', '서울특별시 종로구 종로1.2.3.4가동',
       '서울특별시 종로구 종로5.6가동', '서울특별시 종로구 창신1동', '서울특별시 노원구 중계2.3동',
       '서울특별시 종로구 창신2동', '서울특별시 종로구 창신3동', '서울특별시 종로구 청운효자동',
       '서울특별시 노원구 중계4동', '서울특별시 종로구 평창동', '서울특별시 노원구 중계본동',
       '서울특별시 종로구 혜화동', '서울특별시 노원구 하계1동', '서울특별시 중구 광희동', '서울특별시 중구 다산동',
       '서울특별시 노원구 하계2동', '서울특별시 중구 동화동', '서울특별시 중구 명동', '서울특별시 도봉구 도봉1동',
       '서울특별시 도봉구 도봉2동', '서울특별시 중구 소공동', '서울특별시 도봉구 방학1동',
       '서울특별시 중구 신당5동', '서울특별시 중구 신당동', '서울특별시 중구 약수동', '서울특별시 도봉구 방학2동',
       '서울특별시 도봉구 방학3동', '서울특별시 중구 을지로동', '서울특별시 중구 장충동', '서울특별시 중구 중림동',
       '서울특별시 도봉구 쌍문1동', '서울특별시 중구 청구동', '서울특별시 도봉구 쌍문2동',
       '서울특별시 도봉구 쌍문3동', '서울특별시 중구 필동', '서울특별시 중구 황학동', '서울특별시 도봉구 쌍문4동',
       '서울특별시 도봉구 창1동', '서울특별시 중구 회현동', '서울특별시 도봉구 창2동', '서울특별시 중랑구 망우3동',
       '서울특별시 도봉구 창3동', '서울특별시 도봉구 창4동', '서울특별시 중랑구 망우본동',
       '서울특별시 중랑구 면목2동', '서울특별시 도봉구 창5동', '서울특별시 중랑구 면목3.8동',
       '서울특별시 동대문구 답십리1동', '서울특별시 중랑구 면목4동', '서울특별시 중랑구 면목5동',
       '서울특별시 동대문구 답십리2동', '서울특별시 중랑구 면목7동', '서울특별시 중랑구 면목본동',
       '서울특별시 중랑구 묵1동', '서울특별시 동대문구 용신동', '서울특별시 중랑구 묵2동',
       '서울특별시 동대문구 이문1동', '서울특별시 동대문구 이문2동', '서울특별시 중랑구 상봉1동',
       '서울특별시 동대문구 장안1동', '서울특별시 중랑구 상봉2동', '서울특별시 중랑구 신내1동',
       '서울특별시 동대문구 장안2동', '서울특별시 중랑구 신내2동', '서울특별시 동대문구 전농1동',
       '서울특별시 중랑구 중화1동', '서울특별시 동대문구 전농2동', '서울특별시 중랑구 중화2동',
       '서울특별시 동대문구 제기동', nan, '서울특별시 동대문구 청량리동', '서울특별시 동대문구 회기동',
       '서울특별시 동대문구 휘경1동', '서울특별시 동대문구 휘경2동', '서울특별시 동작구 노량진1동',
       '서울특별시 동작구 노량진2동', '서울특별시 동작구 대방동', '서울특별시 동작구 사당1동',
       '서울특별시 동작구 사당2동', '서울특별시 동작구 사당3동', '서울특별시 동작구 사당4동',
       '서울특별시 동작구 사당5동', '서울특별시 강동구 둔촌1동'], dtype=object)

In [186]:
hjDF['사용본거지시읍면동_행정동기준'].isna().sum()

11

In [204]:
hjDF_2=hjDF.copy()

In [ ]:
hjDF

In [190]:
hjDF_2['사용본거지시읍면동_행정동기준']

,기준년월,사용본거지시읍면동_행정동기준,차명,연료,최초등록일,현소유자의출생년도,제원관리번호,최초등록일_년도
0,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200910,1977.0,01020007000041319,2020
1,202202,서울특별시 강남구 개포1동,그랜저 하이브리드,하이브리드(휘발유+전기),20170710,1959.0,A0810010800451317,2017
2,202202,서울특별시 강남구 개포1동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20210309,1942.0,01020006500091320,2021
3,202202,서울특별시 강남구 개포1동,렉서스 ES300h,하이브리드(휘발유+전기),20210528,1966.0,01020006800021320,2021
4,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200630,1970.0,01020007000041319,2020
...,...,...,...,...,...,...,...,...
189581,202202,서울특별시 중랑구 중화2동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20180824,1982.0,01020006500001317,2018
189582,202202,서울특별시 중랑구 중화2동,그랜저(GRANDEUR) 하이브리드,하이브리드(휘발유+전기),20150212,1979.0,A0810008700781314,2015
189583,202202,서울특별시 중랑구 중화2동,니로 하이브리드,하이브리드(휘발유+전기),20180109,1979.0,A0110006100091217,2018
189584,202202,서울특별시 중랑구 중화2동,포터Ⅱ 일렉트릭 (PORTERⅡ EL,전기,20210315,1967.0,A0810006219283120,2021
189585,202202,NaN,K5 하이브리드,하이브리드(휘발유+전기),20120105,NaN,A0110004700101211,2012

In [196]:
hjDF['사용본거지시읍면동_행정동기준'].dropna().isna().sum()

0

In [203]:
hjDF[hjDF['사용본거지시읍면동_행정동기준']==nan]

NameError: name 'nan' is not defined

In [197]:
hjDF_2['사용본거지시읍면동_행정동기준']=hjDF['사용본거지시읍면동_행정동기준'].dropna()

In [198]:
hjDF_2['사용본거지시읍면동_행정동기준'].isna().sum()

11

In [199]:
hjDF_2['사용본거지시읍면동_행정동기준']

0         서울특별시 강남구 개포1동
1         서울특별시 강남구 개포1동
2         서울특별시 강남구 개포1동
3         서울특별시 강남구 개포1동
4         서울특별시 강남구 개포1동
               ...
189581    서울특별시 중랑구 중화2동
189582    서울특별시 중랑구 중화2동
189583    서울특별시 중랑구 중화2동
189584    서울특별시 중랑구 중화2동
189585               NaN
Name: 사용본거지시읍면동_행정동기준, Length: 189586, dtype: object

In [205]:
hjDF.dropna(subset = ['사용본거지시읍면동_행정동기준'])

,기준년월,사용본거지시읍면동_행정동기준,차명,연료,최초등록일,현소유자의출생년도,제원관리번호,최초등록일_년도
0,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200910,1977.0,01020007000041319,2020
1,202202,서울특별시 강남구 개포1동,그랜저 하이브리드,하이브리드(휘발유+전기),20170710,1959.0,A0810010800451317,2017
2,202202,서울특별시 강남구 개포1동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20210309,1942.0,01020006500091320,2021
3,202202,서울특별시 강남구 개포1동,렉서스 ES300h,하이브리드(휘발유+전기),20210528,1966.0,01020006800021320,2021
4,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200630,1970.0,01020007000041319,2020
...,...,...,...,...,...,...,...,...
189580,202202,서울특별시 중랑구 중화2동,쏘렌토 하이브리드,하이브리드(휘발유+전기),20210517,1988.0,A0110007000031220,2021
189581,202202,서울특별시 중랑구 중화2동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20180824,1982.0,01020006500001317,2018
189582,202202,서울특별시 중랑구 중화2동,그랜저(GRANDEUR) 하이브리드,하이브리드(휘발유+전기),20150212,1979.0,A0810008700781314,2015
189583,202202,서울특별시 중랑구 중화2동,니로 하이브리드,하이브리드(휘발유+전기),20180109,1979.0,A0110006100091217,2018
189584,202202,서울특별시 중랑구 중화2동,포터Ⅱ 일렉트릭 (PORTERⅡ EL,전기,20210315,1967.0,A0810006219283120,2021

In [206]:
hjDF_3=hjDF.dropna(subset = ['사용본거지시읍면동_행정동기준'])

In [208]:
hjDF_3.isna().sum()

기준년월                   0
사용본거지시읍면동_행정동기준        0
차명                     0
연료                     0
최초등록일                  0
현소유자의출생년도          44753
제원관리번호                 0
최초등록일_년도               0
dtype: int64

In [211]:
hjDF_3.to_csv('(행정동 결측치 제거)서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2022.2.28).csv', index=False)

# 한국전력공사_서울시 전기차 충전소 충전량_20220331

In [65]:
chargingDF=pd.read_csv('./한국전력공사_서울시 전기차 충전소 충전량_20220331.CSV', encoding='cp949')

In [67]:
chargingDF.isna().sum()

충전구분           0
충전소명           0
주소          1488
충전기용량     104677
충전량       103510
충전시간      103510
충전분       103510
충전시작시각    103510
충전종료시각    103510
dtype: int64

In [72]:
chargingDF[['충전구분', '충전소명', '주소']]

       충전구분     충전소명                  주소
0        급속  영등포전력지사  서울특별시 영등포구 경인로 878
1        급속  영등포전력지사  서울특별시 영등포구 경인로 878
2        급속  영등포전력지사  서울특별시 영등포구 경인로 878
3        급속  영등포전력지사  서울특별시 영등포구 경인로 878
4        급속  영등포전력지사  서울특별시 영등포구 경인로 878
...     ...      ...                 ...
638697   급속  서울전력관리처    서울특별시 중구 퇴계로 140
638698   급속  서울전력관리처    서울특별시 중구 퇴계로 140
638699   급속  서울전력관리처    서울특별시 중구 퇴계로 140
638700   급속  서울전력관리처    서울특별시 중구 퇴계로 140
638701   급속  서울전력관리처    서울특별시 중구 퇴계로 140

[638702 rows x 3 columns]

In [74]:
chargingDF[['충전구분', '충전소명', '주소']].isna().sum()

충전구분       0
충전소명       0
주소      1488
dtype: int64

In [111]:
chargingDF_2=chargingDF[['충전구분', '충전소명', '주소']]

In [114]:
chargingDF_2 =chargingDF_2[chargingDF_2.duplicated() ==False].reset_index(drop = True)

In [122]:
chargingDF_2[chargingDF_2.isna().sum(1)>0]

    충전구분        충전소명   주소
152   급속  여의도KBS (본관  NaN
477   완속       면목두산2  NaN
485   완속       면목두산4  NaN
488   급속       면목두산4  NaN
516   급속       면목두산2  NaN

In [184]:
#chargingDF_2[chargingDF_2.isna().sum(1)>0]['주소'][152].fillna('서울 영등포구 여의공원로 13')

In [137]:
# 조건식으로 찾아서 대체?
chargingDF_2['주소'][152]='서울 영등포구 여의공원로 13'

In [140]:
chargingDF_2['주소'][152]

'서울 영등포구 여의공원로 13'

In [139]:
chargingDF_2[chargingDF_2.isna().sum(1)>0]

    충전구분   충전소명   주소
477   완속  면목두산2  NaN
485   완속  면목두산4  NaN
488   급속  면목두산4  NaN
516   급속  면목두산2  NaN

In [141]:
chargingDF_2['주소'][477]='서울시 중랑구 면목로37길 58'

In [143]:
chargingDF_2['주소'][516]='서울시 중랑구 면목로37길 58'

In [144]:
chargingDF_2['주소'][485]='서울시 중랑구 면목로35길 63'

In [145]:
chargingDF_2['주소'][488]='서울시 중랑구 면목로35길 63'

In [148]:
chargingDF_2.iloc[[152, 477, 485, 488, 516]]

    충전구분        충전소명                 주소
152   급속  여의도KBS (본관   서울 영등포구 여의공원로 13
477   완속       면목두산2  서울시 중랑구 면목로37길 58
485   완속       면목두산4  서울시 중랑구 면목로35길 63
488   급속       면목두산4  서울시 중랑구 면목로35길 63
516   급속       면목두산2  서울시 중랑구 면목로37길 58

In [149]:
chargingDF_2.isna().sum()

충전구분    0
충전소명    0
주소      0
dtype: int64

In [152]:
chargingDF_2.isnull().sum()

충전구분    0
충전소명    0
주소      0
dtype: int64

In [162]:
# 파일생성
chargingDF_2.to_csv('구분_명_주소.csv', index=False)

In [185]:
# [add for add in chargingDF_2['주소'].str.split('(')]

In [94]:
chargingDF['주소'].str.contains('[(]')

0         False
1         False
2         False
3         False
4         False
          ...
638697    False
638698    False
638699    False
638700    False
638701    False
Name: 주소, Length: 638702, dtype: object

# 한국전력공사_전기차충전소위경도_20220718

In [154]:
locDF=pd.read_csv('./한국전력공사_전기차충전소위경도_20220718.CSV', encoding='utf-8')

In [157]:
seoul_locDF=locDF[locDF['시도']=='서울특별시']

In [159]:
seoul_locDF.isna().sum()

시도      0
충전소명    0
경도      0
위도      0
dtype: int64

In [166]:
seoul_locDF_dr=seoul_locDF.drop(['시도'], axis=1)
seoul_locDF_dr

                    충전소명         경도          위도
1940  공무원연금공단 서울지부(상록회관)  37.504100  127.042944
1941             래미안강남힐즈  37.472656  127.095806
1942       대치2문화센터 공영주차장  37.502333  127.064214
1943           LH강남힐스테이트  37.471028  127.088781
1944           세곡푸르지오아파트  37.467354  127.093428
...                  ...        ...         ...
3813   서울대학교병원 대한외래병동주차장  37.578791  126.997563
3814           서울역(한화역사)  37.554656  126.971523
3815            약수동공영주차장  37.552157  127.013147
3816              중부전력지사  37.543938  126.919917
4775               인재개발원  37.635199  127.087363

[631 rows x 3 columns]

In [170]:
seoul_locDF_dr

                    충전소명         경도          위도
1940  공무원연금공단 서울지부(상록회관)  37.504100  127.042944
1941             래미안강남힐즈  37.472656  127.095806
1942       대치2문화센터 공영주차장  37.502333  127.064214
1943           LH강남힐스테이트  37.471028  127.088781
1944           세곡푸르지오아파트  37.467354  127.093428
...                  ...        ...         ...
3813   서울대학교병원 대한외래병동주차장  37.578791  126.997563
3814           서울역(한화역사)  37.554656  126.971523
3815            약수동공영주차장  37.552157  127.013147
3816              중부전력지사  37.543938  126.919917
4775               인재개발원  37.635199  127.087363

[631 rows x 3 columns]

In [171]:
seoul_locDF_dr_2=seoul_locDF_dr.reset_index(drop=True)

In [173]:
seoul_locDF_dr_2

                   충전소명         경도          위도
0    공무원연금공단 서울지부(상록회관)  37.504100  127.042944
1               래미안강남힐즈  37.472656  127.095806
2         대치2문화센터 공영주차장  37.502333  127.064214
3             LH강남힐스테이트  37.471028  127.088781
4             세곡푸르지오아파트  37.467354  127.093428
..                  ...        ...         ...
626   서울대학교병원 대한외래병동주차장  37.578791  126.997563
627           서울역(한화역사)  37.554656  126.971523
628            약수동공영주차장  37.552157  127.013147
629              중부전력지사  37.543938  126.919917
630               인재개발원  37.635199  127.087363

[631 rows x 3 columns]

In [172]:
seoul_locDF_dr_2.to_csv('seoul_loc.csv', index=False)